*/inventories/**/group_vars/
*/inventories/**/host_vars/
*/inventories/**/hosts
public_keys/**
critical_vault
*.pass
Docker
experiment*
script*
python
*/roles
test_area/patroni/data/etcd/*/*
test_area/patroni/data/postgres/*/*
test_area/patroni/data/postgres/*failed
test_area/**/.venv
test_area/patroni/data/postgres/.s.PGSQL.*